
/* Drawer CSS */
.highlight:hover{
    /*border-radius: 0px 20px 20px 0px;*/
    background-color:rgba(201, 201, 201, 0.87);
   
}


.c_close{
    cursor: pointer;
    text-decoration: none;
}

.c_plus:hover{
        border-radius: 40px ;
        background-color:rgba(201, 201, 201, 0.87);
}
.no_outline{
    outline: none;
}